a:hover {
	transition: color 250ms;
	-webkit-transition: color 250ms;
	-moz-transition: color 250ms;
	-o-transition: color 250ms;
}
body {
	background: #fff;
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	
}
#cheers {
	display: inline-block;
	margin: 4.0em 0 0 0;
	font-size: 0.75em;
	color: #e5e5e5;
}
#cheers a { color: inherit !important; }
#cheers a:hover { color: #ccc !important; }

h1 {
	font-size: 15pt;
	font-weight: normal;
	margin: 0;
}
.blue {
	color: #50a6d9 !important;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #50a6d9;
}

#menu {
	margin: 60px 0 0 0;
	font-size: 10pt;
	text-transform: lowercase;
}
#menu span {
	display: inline-block;
	width: 100%;
	margin: 0 0 0.75em;
}
#menu a {
	display: inline-block;
	width: 100%;
}
#menu a.numbers {
	font-size: 0.9em;
}

#nav {
	margin: 100px 0 0 0;
	font-size: 10pt;
}

#caption {
	font-size: 10pt;
}
#caption p {
	margin: 0.5em 0;
}

#nav span a { color: #50a6d9; }
#nav span a:hover { color: black; }

#galleries a {
	height: 1.0em;
}
#galleries a span {
	width: auto;
	color: #666;
	padding: 0 0.5em;
	height: 1.0em;
	display: inline-block;
	visibility: hidden;
	float: right;
	opacity: 0;
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
}
#galleries a:hover span {
	visibility: visible;
	opacity: 1.0;
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
}

#slider {
	overflow: hidden;
}

#slider img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

div#whiteout {
	display: none;
	background: rgba(255,255,255,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 50;
}

#right {
	display: inline-block;
	margin: 0;
	padding: 0 30px 20px 0;
	position: absolute;
	top: 40px;
	left: 210px;
	z-index: 5;
}

#left {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 130px;
	margin: 40px;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.overlay {
	display: none;
	position: absolute;
	left: 210px;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: transparent;
}

.overlay div.inside {
	width: 720px;
	position: relative;
	top: 40px;
	min-height: 250px;
	padding: 30px 0 1px 0; /* 1px makes the margin work for the final div/p take inside this. */
	background: rgba(240,240,240,0.85);
	
}

.overlay div.inside h1 {
	color: #50a6d9;
	width: 640px;
	text-align: right;
	font-size: 14pt;
	font-weight: bold;
	padding: 0 80px 2.0em 0;
	margin: 0;
}

.overlay div.inside h3 {
	font-size: 12pt;
	font-weight: normal;
	text-transform: lowercase;
	padding: 0 0  1.0em 180px;
	margin: 0;
}

.overlay div.inside div.section {
	padding: 0 80px 0 180px;
	margin: 0 0 2.5em 0;
}

.overlay div.inside div.section p {
	margin: 0;
	padding: 0;
	font-size: 12pt;
}
.overlay div.inside div.section h2 {
	color: #50a6d9;
	font-size: 12pt;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

#zoom {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.95);
	z-index: 5000;
	text-align: center;
}

#zoomcaption {
	position: fixed;
	display: inline-block;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	line-height: 40px;
	font-size: 1.0em;
	color: #fff;
}

#zoomarea {
	width: 800px;
	height: 400px;
	margin: 40px;
	border: none;
}




